.stepper {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.text {
  font-size: 30px;
}

.div-question{
  margin-top: 20px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}
