@import "../../vars";

mat-toolbar.gnok-navbar {
  background-color: $primary-bg-color;
  color: $primary-color;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  width: 100%;
  vertical-align: middle;
  position: fixed;
  height: 8%;
  top:0;
  z-index: 1;
}

mat-toolbar .flex {
  flex: 1 1 auto;
}

.with-icon {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.quizzine-button {
  background-color: $primary-color;
  color: white;
  border-radius: 15px;
  border-style: none;
  height: 40px;
}


