<mat-toolbar class="quizzine-navbar" xmlns="http://www.w3.org/1999/html">
  <div [routerLink]="['/home']" class="with-icon">
    <mat-icon inline="true">restaurant_menu</mat-icon>
    &nbsp;
    <span>{{appName}}</span>

  </div>
  <span class="flex"></span>
  <span *ngIf="!isLogin()">
    <button (click)="showDialog()" mat-stroked-button class="quizzine-button">
    <mat-icon>person_outline</mat-icon>
      connexion
    </button>

  </span>

  <span *ngIf="isLogin()">
    <button mat-button [matMenuTriggerFor]="menu">Parametres</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Options</button>
      <button mat-menu-item (click)="deconnexion()" [routerLink]="['/home']">Deconnexion</button>
</mat-menu>
  </span>

</mat-toolbar>
