@import "../../../vars";

img {
  border-radius: 50%;
  width: 40%;
  height: 40%;
}


.tag * {
  padding: 0%;
  :hover{
    color: $primary-color;
    cursor: pointer;
  }

}


.text{
  color: black;
  font-size: 150%;
  background-color: white;
  border-radius: 25px;
}

section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  text-align : center;
  margin-top : 100px;

  padding: 0%;
  margin-left : 10%;
  margin-right : 10%;
}





