<h2 mat-dialog-title *ngIf="isUpdateMode">Update {{ form.get('username')?.value}}</h2>
<h2 mat-dialog-title *ngIf="!isUpdateMode">Create new user</h2>

<mat-dialog-content>
  <form novalidate [formGroup]="form">

    <p *ngIf="isUpdateMode">
      <span style="..." >ID (disable) </span><br/>
      <span style="..." >{{model.username}} </span><br/>
    </p>

    <table>
      <tr>
        <td>
          <mat-form-field class="" [class.mgb15]="form.get('email')?.dirty && form.get('email')?.invalid">
            <input matInput placeholder="Email" formControlName="email" minlength="2" required name="email" />
            <mat-error *ngIf="form.get('email')?.dirty && form.get('email')?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('email')?.dirty && form.get('email')?.hasError('minlength')">
              Email is <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="" [class.mgb15]="form.get('username')?.dirty && form.get('username')?.invalid">
            <input matInput placeholder="Username" formControlName="username" minlength="2" required name="username" />
            <mat-error *ngIf="form.get('username')?.dirty && form.get('username')?.hasError('username')">
              Username is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('username')?.dirty && form.get('username')?.hasError('minlength')">
              Username is <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="" [class.mgb15]="form.get('password')?.dirty && form.get('password')?.invalid">
            <input matInput placeholder="Password" formControlName="password" minlength="2" required name="password" />
            <mat-error *ngIf="form.get('password')?.dirty && form.get('password')?.hasError('password')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('password')?.dirty && form.get('password')?.hasError('minlength')">
              Password is <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="" [class.mgb15]="form.get('confirmPassword')?.dirty && form.get('confirmPassword')?.invalid">
            <input matInput placeholder="ConfirmPassword" formControlName="confirmPassword" minlength="2" required name="confirmPassword" />
            <mat-error *ngIf="form.get('confirmPassword')?.dirty && form.get('confirmPassword')?.hasError('confirmPassword')">
              ConfirmPassword is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('confirmPassword')?.dirty && form.get('confirmPassword')?.hasError('minlength')">
              ConfirmPassword is <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
